export SOPS_AGE_KEY_FILE=~/.config/sops/age/K3s-Flux.agekey

export TALOSCONFIG=$(expand_path ./talos/talosconfig)
export TOPFCONFIG=$(expand_path ./talos/topf.yaml)
export KUBECONFIG=$(expand_path ./kubeconfig)
export KUBE_EDITOR=nano

export BWS_ACCESS_TOKEN=$(sops -d cluster/infra/external-secrets/external-secrets/bitwarden-secret/secret.sops.yaml | yq -r '.stringData.token')

export KREWFILE=$(expand_path ./.krewfile)

AUTH=$(kubectl get secret ocharted-secret -n kube-system -o jsonpath='{.data.auth}' | base64 -d)
AUTH_B64=$(echo -n "$AUTH" | base64 -w0)

cat <<EOF > .dockerconfigjson
{
  "auths": {
    "ocharted.alexsaphir.com": {
      "auth": "$AUTH_B64"
    }
  }
}
EOF
